In [5]:
import pandas as pd
import matplotlib.pyplot as plt
import datetime
from sklearn.cluster import KMeans
from sklearn.model_selection import train_test_split
import numpy as np

In [6]:
# Read in metadata
meta = pd.read_csv("metadata.csv")
meta["DATE"] = pd.to_datetime(meta["DATE"])
meta = meta.drop_duplicates()
meta.index = range(len(meta))
meta

,DATE,WDW_TICKET_SEASON,DAYOFWEEK,DAYOFYEAR,WEEKOFYEAR,MONTHOFYEAR,YEAR,SEASON,HOLIDAYPX,HOLIDAYM,...,HSFIREWKS,AKPRDDAY,AKPRDDT1,AKPRDDT2,AKPRDDN,AKFIREN,AKSHWNGT,AKSHWNT1,AKSHWNT2,AKSHWNN
0,2015-01-01,NaN,5,0,0,1,2015,CHRISTMAS PEAK,0,5,...,1,0,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
1,2015-01-02,NaN,6,1,0,1,2015,CHRISTMAS,2,5,...,1,0,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
2,2015-01-03,NaN,7,2,0,1,2015,CHRISTMAS,3,0,...,1,0,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
3,2015-01-04,NaN,1,3,1,1,2015,CHRISTMAS,4,0,...,1,0,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
4,2015-01-05,NaN,2,4,1,1,2015,CHRISTMAS,5,0,...,1,0,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1820,2019-12-26,NaN,5,359,51,12,2019,CHRISTMAS,2,5,...,1,0,NaN,NaN,NaN,NaN,2,18:30,20:00,Rivers of Light
1821,2019-12-27,NaN,6,360,51,12,2019,CHRISTMAS PEAK,3,5,...,1,0,NaN,NaN,NaN,NaN,3,18:30,20:00,Rivers of Light
1822,2019-12-28,NaN,7,361,51,12,2019,CHRISTMAS PEAK,4,5,...,1,0,NaN,NaN,NaN,NaN,3,18:30,20:00,Rivers of Light
1823,2019-12-29,NaN,1,362,52,12,2019,CHRISTMAS PEAK,3,5,...,1,0,NaN,NaN,NaN,NaN,3,18:30,20:00,Rivers of Light
1824,2019-12-30,NaN,2,363,52,12,2019,CHRISTMAS PEAK,2,5,...,1,0,NaN,NaN,NaN,NaN,3,18:30,20:00,Rivers of Light

In [58]:
# Convert seasons to ints in metadata
for i in range(len(meta20)):
    v = meta20.iloc[i]['SEASON']
    if v == 'CHRISTMAS':
        v = 1
    elif v == 'CHRISTMAS PEAK':
        v = 2
    elif v == 'COLUMBUS DAY':
        v = 3
    elif v == 'EASTER':
        v = 4
    elif v == 'FALL':
        v = 5
    elif v == 'HALLOWEEN':
        v = 6
    elif v == 'JERSEY WEEK':
        v = 7
    elif v == 'JULY 4th':
        v = 8
    elif v == 'MARDI GRAS':
        v = 9
    elif v == 'MARTIN LUTHER KING JUNIOR DAY':
        v = 10
    elif v == 'MEMORIAL DAY':
        v = 11
    elif v == 'PRESIDENTS WEEK':
        v = 12
    elif v == 'SEPTEMBER LOW':
        v = 13
    elif v == 'SPRING':
        v = 14
    elif v == 'SUMMER BREAK':
        v = 15
    elif v == 'THANKSGIVING':
        v = 16
    elif v == 'WINTER':
        v = 17
    else:
        v = 18
    meta20.iat[i,7] = v
    
meta20['SEASON'] = meta20['SEASON'].astype(int)

In [8]:
# Restrict to only necesary metadata
meta_season = meta[['DAYOFWEEK','SEASON','MKHOURSEMH','EPHOURSEMH','HSHOURSEMH','AKHOURSEMH','WDWMINTEMP_mean','WEATHER_WDWPRECIP']]
# Split data to train and test sets
train_season, test_season = train_test_split(meta_season)
# K-means cluster on train set
kmeans_season = KMeans(n_clusters=35, random_state=0).fit(train_season)

In [9]:
meta

,DATE,WDW_TICKET_SEASON,DAYOFWEEK,DAYOFYEAR,WEEKOFYEAR,MONTHOFYEAR,YEAR,SEASON,HOLIDAYPX,HOLIDAYM,...,HSFIREWKS,AKPRDDAY,AKPRDDT1,AKPRDDT2,AKPRDDN,AKFIREN,AKSHWNGT,AKSHWNT1,AKSHWNT2,AKSHWNN
0,2015-01-01,NaN,5,0,0,1,2015,2,0,5,...,1,0,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
1,2015-01-02,NaN,6,1,0,1,2015,1,2,5,...,1,0,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
2,2015-01-03,NaN,7,2,0,1,2015,1,3,0,...,1,0,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
3,2015-01-04,NaN,1,3,1,1,2015,1,4,0,...,1,0,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
4,2015-01-05,NaN,2,4,1,1,2015,1,5,0,...,1,0,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1820,2019-12-26,NaN,5,359,51,12,2019,1,2,5,...,1,0,NaN,NaN,NaN,NaN,2,18:30,20:00,Rivers of Light
1821,2019-12-27,NaN,6,360,51,12,2019,2,3,5,...,1,0,NaN,NaN,NaN,NaN,3,18:30,20:00,Rivers of Light
1822,2019-12-28,NaN,7,361,51,12,2019,2,4,5,...,1,0,NaN,NaN,NaN,NaN,3,18:30,20:00,Rivers of Light
1823,2019-12-29,NaN,1,362,52,12,2019,2,3,5,...,1,0,NaN,NaN,NaN,NaN,3,18:30,20:00,Rivers of Light
1824,2019-12-30,NaN,2,363,52,12,2019,2,2,5,...,1,0,NaN,NaN,NaN,NaN,3,18:30,20:00,Rivers of Light

In [10]:
# Number of days in each grouping
counts = []
for i in range(35):
    counts.append(len(kmeans_season.labels_[kmeans_season.labels_==i]))
print(counts)

[26, 47, 45, 30, 29, 54, 14, 28, 41, 29, 38, 40, 35, 37, 51, 95, 53, 28, 78, 28, 43, 31, 57, 34, 77, 34, 21, 32, 33, 22, 40, 28, 36, 28, 26]

In [11]:
count = pd.DataFrame(counts, columns = ["COUNTS"])

In [12]:
train_season["CLUSTER"] = kmeans_season.labels_

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [13]:
train_season[train_season["CLUSTER"] == 5]

,DAYOFWEEK,SEASON,MKHOURSEMH,EPHOURSEMH,HSHOURSEMH,AKHOURSEMH,WDWMINTEMP_mean,WEATHER_WDWPRECIP,CLUSTER
966,5,13,13.00,13.0,12.0,12.5,75.127143,0.28,5
1352,6,13,10.00,13.0,11.5,11.5,74.514286,0.19,5
1695,6,13,10.00,12.0,12.0,12.5,75.524286,0.23,5
980,5,13,10.00,13.0,12.0,12.0,74.064286,0.24,5
1343,4,13,14.00,12.0,11.5,11.5,74.527143,0.20,5
1331,6,13,10.00,12.0,15.5,12.5,75.127143,0.28,5
626,1,13,10.00,12.0,12.5,12.0,73.606429,0.20,5
1617,5,14,13.00,13.0,12.0,12.0,72.320000,0.28,5
1355,2,13,12.00,12.0,12.5,12.0,74.024286,0.19,5
251,4,13,12.00,12.0,11.0,9.0,74.342143,0.24,5
1354,1,13,9.00,12.0,13.0,12.0,74.173571,0.20,5
258,4,13,12.00,12.0,10.5,9.0,74.173571,0.20,5
1338,6,13,10.00,13.0,13.0,11.5,75.058571,0.28,5
1350,4,13,14.00,12.0,11.5,11.5,74.734286,0.24,5
623,5,13,13.00,13.0,12.0,12.0,74.173571,0.20,5
1335,3,13,10.25,14.0,13.0,11.5,75.189286,0.23,5
965,4,13,13.00,12.0,12.0,12.5,75.524286,0.23,5
986,4,13,14.00,12.0,12.0,12.0,74.200000,0.24,5
1349,3,13,10.25,14.0,11.5,11.5,74.593571,0.23,5
981,6,13,13.00,13.0,12.0,12.0,74.050000,0.23,5
1638,5,14,13.00,13.0,12.0,13.0,74.407143,0.28,5
974,6,13,11.00,13.0,12.0,12.5,74.567143,0.27,5
1693,4,13,13.00,12.0,13.5,12.5,75.816429,0.24,5
973,5,13,12.00,13.0,12.0,12.5,75.058571,0.28,5
615,4,13,14.00,12.0,12.0,12.0,74.050000,0.23,5
621,3,13,10.00,14.0,12.0,12.0,74.514286,0.19,5
985,3,13,11.25,14.0,12.0,12.0,74.734286,0.24,5
1351,5,13,12.00,13.0,11.5,11.5,74.200000,0.24,5
253,6,13,10.00,14.0,11.0,8.0,74.593571,0.23,5
979,4,13,14.00,12.0,12.0,12.0,74.572857,0.23,5
978,3,13,13.25,14.0,12.0,12.0,74.527143,0.20,5
1342,3,13,13.25,14.0,11.5,11.5,74.487143,0.24,5
150,1,14,9.00,12.0,14.0,12.0,71.242857,0.20,5
977,2,13,12.00,12.0,12.0,13.0,74.487143,0.24,5
983,1,13,11.25,12.0,13.0,12.0,74.950714,0.24,5
1694,5,13,13.00,13.0,12.0,11.5,75.595000,0.28,5
987,5,13,12.00,13.0,12.0,12.0,74.514286,0.19,5
967,6,13,11.00,12.0,12.0,12.5,75.850714,0.23,5
1692,3,13,10.25,14.0,12.0,12.5,75.475000,0.23,5
1699,3,13,10.25,14.0,11.5,12.5,75.302857,0.28,5
1344,5,13,12.00,13.0,11.5,11.5,74.572857,0.23,5
616,5,13,10.00,13.0,12.0,12.0,74.342143,0.24,5
1348,2,13,12.00,12.0,11.5,12.5,74.950714,0.24,5
619,1,13,10.00,12.0,13.0,12.0,74.734286,0.24,5
257,3,13,10.00,13.0,10.5,8.0,74.125714,0.24,5
609,5,13,12.00,13.0,12.0,14.0,74.577857,0.24,5
624,6,13,11.00,13.0,14.0,12.0,74.024286,0.19,5
1336,4,13,14.00,12.0,13.0,11.5,75.595714,0.28,5
1624,5,14,13.00,13.0,12.0,13.0,72.762143,0.32,5
262,1,13,10.00,14.0,10.5,9.0,73.062857,0.19,5
982,7,13,12.00,12.0,10.0,11.0,74.342143,0.24,5
1631,5,14,13.00,13.0,12.0,13.0,73.985000,0.35,5
1659,5,15,13.00,13.0,12.0,12.0,74.490714,0.19,5
1337,5,13,12.00,13.0,13.0,11.5,74.609286,0.23,5

In [14]:
test_preds = kmeans_season.predict(test_season)

In [15]:
# Number of days in each grouping
test_counts = []
for i in range(35):
    test_counts.append(len(test_preds[test_preds==i]))
print(test_counts)

[11, 20, 23, 4, 10, 16, 4, 7, 23, 15, 8, 11, 8, 7, 16, 29, 26, 7, 34, 8, 15, 10, 14, 15, 26, 11, 6, 8, 9, 7, 16, 7, 12, 8, 6]

In [16]:
test_count = pd.DataFrame(test_counts, columns = ["COUNTS"])
test_count

    COUNTS
0       11
1       20
2       23
3        4
4       10
5       16
6        4
7        7
8       23
9       15
10       8
11      11
12       8
13       7
14      16
15      29
16      26
17       7
18      34
19       8
20      15
21      10
22      14
23      15
24      26
25      11
26       6
27       8
28       9
29       7
30      16
31       7
32      12
33       8
34       6

In [17]:
test_season["PREDS"] = test_preds

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [18]:
test_season["DATE"] = meta.iloc[test_season.index,0]
train_season["DATE"] = meta.iloc[train_season.index,0]
train_season = train_season.sort_values(by="DATE")
test_season = test_season.sort_values(by="DATE")

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [19]:
train_season.to_csv('clean/train.csv', index=False)
test_season.to_csv('clean/test.csv', index=False)

In [20]:
train_season[890:920]

,DAYOFWEEK,SEASON,MKHOURSEMH,EPHOURSEMH,HSHOURSEMH,AKHOURSEMH,WDWMINTEMP_mean,WEATHER_WDWPRECIP,CLUSTER,DATE
1176,5,14,14.00,13.0,12.0,13.5,56.607857,0.12,8,2018-03-22
1177,6,4,16.00,12.0,12.0,13.5,58.960714,0.12,21,2018-03-23
1178,7,4,15.00,12.0,12.0,15.0,59.092857,0.11,28,2018-03-24
1179,1,4,14.25,12.0,13.0,15.0,58.370714,0.12,4,2018-03-25
1180,2,4,16.00,12.0,12.0,16.0,57.860714,0.12,4,2018-03-26
1181,3,4,16.00,14.0,12.0,15.0,57.092143,0.12,2,2018-03-27
1182,4,4,16.00,12.0,12.0,15.0,57.527143,0.12,21,2018-03-28
1183,5,4,16.00,13.0,12.0,15.0,58.542857,0.07,21,2018-03-29
1184,6,4,17.00,12.0,12.0,15.0,58.102857,0.12,21,2018-03-30
1185,7,4,15.00,12.0,12.0,16.0,60.530714,0.08,28,2018-03-31
1186,1,4,15.00,12.0,13.0,14.0,61.665714,0.12,4,2018-04-01
1187,2,4,16.00,12.0,12.0,16.0,62.538571,0.12,4,2018-04-02
1188,3,4,16.00,14.0,12.0,14.5,63.500769,0.12,4,2018-04-03
1189,4,4,16.00,12.0,12.0,14.5,63.077143,0.07,28,2018-04-04
1190,5,4,16.00,13.0,12.0,14.5,61.104286,0.12,28,2018-04-05
1191,6,4,17.00,12.0,12.0,14.5,59.731429,0.08,28,2018-04-06
1192,7,4,16.00,12.0,12.0,16.0,60.682857,0.08,28,2018-04-07
1193,1,4,14.00,12.0,13.0,12.5,60.561429,0.08,4,2018-04-08
1194,2,4,14.00,12.0,12.0,13.5,60.997143,0.08,4,2018-04-09
1196,4,14,13.00,12.0,12.0,12.5,61.970714,0.08,27,2018-04-11
1197,5,14,13.00,13.0,12.0,12.5,62.827143,0.03,27,2018-04-12
1198,6,14,14.00,12.0,12.0,12.5,62.401429,0.08,27,2018-04-13
1199,7,14,16.00,12.0,12.0,13.5,63.136154,0.08,27,2018-04-14
1200,1,14,15.25,12.0,13.0,12.5,63.005714,0.04,25,2018-04-15
1201,2,14,13.00,12.0,12.0,13.5,60.360000,0.04,27,2018-04-16
1202,3,14,13.00,14.0,12.0,11.5,61.352857,0.12,27,2018-04-17
1203,4,14,13.00,12.0,12.0,12.5,62.056429,0.08,27,2018-04-18
1204,5,14,13.00,13.0,12.0,12.5,63.994286,0.08,25,2018-04-19
1207,1,14,13.00,12.0,12.0,13.0,64.005000,0.12,25,2018-04-22
1208,2,14,14.00,12.0,12.0,13.5,64.209286,0.08,25,2018-04-23

In [ ]:
train_season[train_season["CLUSTER"]==24]

In [21]:
test_season

,DAYOFWEEK,SEASON,MKHOURSEMH,EPHOURSEMH,HSHOURSEMH,AKHOURSEMH,WDWMINTEMP_mean,WEATHER_WDWPRECIP,PREDS,DATE
0,5,2,18.0,13.0,14.0,11.0,53.375714,0.12,2,2015-01-01
1,6,1,17.0,15.0,14.0,12.0,53.750714,0.12,2,2015-01-02
19,3,10,13.0,13.0,10.0,8.0,48.949286,0.12,17,2015-01-20
25,2,17,13.0,12.0,9.0,9.0,51.110000,0.08,11,2015-01-26
33,3,17,12.0,13.0,10.0,9.0,55.148571,0.04,14,2015-02-03
...,...,...,...,...,...,...,...,...,...,...
1812,4,1,13.0,12.5,14.0,11.0,56.152143,0.12,2,2019-12-18
1815,7,1,16.0,12.5,15.0,12.0,56.849286,0.12,2,2019-12-21
1817,2,1,17.0,12.5,15.0,14.0,57.052857,0.12,2,2019-12-23
1820,5,1,17.0,13.5,16.0,13.0,55.557143,0.07,2,2019-12-26
1821,6,2,17.0,12.5,16.0,14.0,55.070000,0.08,2,2019-12-27

In [57]:
# Read in 2020 metadata
meta20 = pd.read_csv("2020/metadata.csv")
meta20["DATE"] = pd.to_datetime(meta20["DATE"])
meta20 = meta20.drop_duplicates()
meta20.index = range(len(meta20))
# meta20 = meta20[(meta20["DATE"] >= pd.Timestamp(2019, 10, 31)) |((meta20["DATE"] >= pd.Timestamp(2019, 7, 13)) & (meta20["DATE"] <= pd.Timestamp(2019, 7, 20)))]
meta20 = meta20[(meta20["DATE"] >= pd.Timestamp(2019, 1, 1)) & (meta20["DATE"] <= pd.Timestamp(2019, 3, 13))]
meta20

,DATE,WDW_TICKET_SEASON,DAYOFWEEK,DAYOFYEAR,WEEKOFYEAR,MONTHOFYEAR,YEAR,SEASON,HOLIDAYPX,HOLIDAYM,...,HSFIREWKS,AKPRDDAY,AKPRDDT1,AKPRDDT2,AKPRDDN,AKFIREN,AKSHWNGT,AKSHWNT1,AKSHWNT2,AKSHWNN
1461,2019-01-01,peak,3,0,0,1,2019,CHRISTMAS PEAK,0,5,...,1,0,NaN,NaN,NaN,NaN,2,18:30,20:00,Rivers of Light
1462,2019-01-02,peak,4,1,0,1,2019,CHRISTMAS,2,5,...,1,0,NaN,NaN,NaN,NaN,2,18:30,20:00,Rivers of Light
1463,2019-01-03,peak,5,2,0,1,2019,CHRISTMAS,3,0,...,1,0,NaN,NaN,NaN,NaN,2,18:30,20:00,Rivers of Light
1464,2019-01-04,peak,6,3,0,1,2019,CHRISTMAS,4,0,...,1,0,NaN,NaN,NaN,NaN,2,18:30,20:00,Rivers of Light
1465,2019-01-05,peak,7,4,0,1,2019,CHRISTMAS,5,0,...,1,0,NaN,NaN,NaN,NaN,2,18:30,20:00,Rivers of Light
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1528,2019-03-09,peak,7,67,9,3,2019,SPRING,4,0,...,1,0,NaN,NaN,NaN,NaN,2,19:15,20:30,Rivers of Light
1529,2019-03-10,regular,1,68,10,3,2019,SPRING,5,0,...,1,0,NaN,NaN,NaN,NaN,2,20:15,21:30,Rivers of Light
1530,2019-03-11,regular,2,69,10,3,2019,SPRING,6,0,...,1,0,NaN,NaN,NaN,NaN,2,20:15,21:30,Rivers of Light
1531,2019-03-12,value,3,70,10,3,2019,SPRING,6,0,...,1,0,NaN,NaN,NaN,NaN,2,20:15,21:30,Rivers of Light
1532,2019-03-13,value,4,71,10,3,2019,SPRING,5,0,...,1,0,NaN,NaN,NaN,NaN,2,20:15,21:30,Rivers of Light

In [59]:
# Restrict to only necesary metadata
meta20_test = meta20[['DAYOFWEEK','SEASON','MKHOURSEMH','EPHOURSEMH','HSHOURSEMH','AKHOURSEMH','WDWMINTEMP_mean','WEATHER_WDWPRECIP']]
test20_preds = kmeans_season.predict(meta20_test)
test20_preds

array([ 2,  2, 19, 19, 19, 19, 19, 19, 19, 14, 13, 13, 11, 11, 11, 11, 17,
       17, 17, 17, 31, 31, 17, 17, 17, 13, 14, 14, 11, 11, 11, 11, 13, 14,
       14, 14, 14, 30, 13, 13, 14, 11, 14, 11, 17, 26, 26, 31, 31, 31,  3,
        3, 27, 27, 27,  6, 30, 14, 30,  8,  8, 31, 31, 31, 26,  3, 26, 13,
       22, 22, 22, 22], dtype=int32)

In [60]:
meta20_test["PREDS"] = test20_preds
meta20_test

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,DAYOFWEEK,SEASON,MKHOURSEMH,EPHOURSEMH,HSHOURSEMH,AKHOURSEMH,WDWMINTEMP_mean,WEATHER_WDWPRECIP,PREDS
1461,3,2,14.00,14.0,11.0,13.0,53.375714,0.12,2
1462,4,1,14.00,12.0,12.5,14.0,53.750714,0.12,2
1463,5,1,14.00,13.0,11.0,13.0,49.212857,0.07,19
1464,6,1,15.00,12.0,11.0,13.0,48.270714,0.12,19
1465,7,1,14.00,12.0,11.0,13.0,48.971538,0.12,19
...,...,...,...,...,...,...,...,...,...
1528,7,14,14.00,12.0,11.0,13.0,53.685714,0.15,13
1529,1,14,14.25,12.0,12.5,12.0,56.999286,0.16,22
1530,2,14,13.00,12.0,13.0,13.0,58.840000,0.12,22
1531,3,14,15.25,14.0,11.5,12.0,59.466429,0.16,22
1532,4,14,14.00,12.0,13.0,12.0,56.789286,0.07,22

In [61]:
meta20_test["DATE"] = meta.iloc[meta20_test.index,0]
meta20_test = meta20_test.sort_values(by="DATE")
meta20_test

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,DAYOFWEEK,SEASON,MKHOURSEMH,EPHOURSEMH,HSHOURSEMH,AKHOURSEMH,WDWMINTEMP_mean,WEATHER_WDWPRECIP,PREDS,DATE
1461,3,2,14.00,14.0,11.0,13.0,53.375714,0.12,2,2019-01-01
1462,4,1,14.00,12.0,12.5,14.0,53.750714,0.12,2,2019-01-02
1463,5,1,14.00,13.0,11.0,13.0,49.212857,0.07,19,2019-01-03
1464,6,1,15.00,12.0,11.0,13.0,48.270714,0.12,19,2019-01-04
1465,7,1,14.00,12.0,11.0,13.0,48.971538,0.12,19,2019-01-05
...,...,...,...,...,...,...,...,...,...,...
1528,7,14,14.00,12.0,11.0,13.0,53.685714,0.15,13,2019-03-09
1529,1,14,14.25,12.0,12.5,12.0,56.999286,0.16,22,2019-03-10
1530,2,14,13.00,12.0,13.0,13.0,58.840000,0.12,22,2019-03-11
1531,3,14,15.25,14.0,11.5,12.0,59.466429,0.16,22,2019-03-12
1532,4,14,14.00,12.0,13.0,12.0,56.789286,0.07,22,2019-03-13

In [62]:
for i in range(len(meta20_test)):
    meta20_test.iat[i,9] = meta20_test.iloc[i]["DATE"].replace(year=2020)
    
meta20_test

,DAYOFWEEK,SEASON,MKHOURSEMH,EPHOURSEMH,HSHOURSEMH,AKHOURSEMH,WDWMINTEMP_mean,WEATHER_WDWPRECIP,PREDS,DATE
1461,3,2,14.00,14.0,11.0,13.0,53.375714,0.12,2,2020-01-01
1462,4,1,14.00,12.0,12.5,14.0,53.750714,0.12,2,2020-01-02
1463,5,1,14.00,13.0,11.0,13.0,49.212857,0.07,19,2020-01-03
1464,6,1,15.00,12.0,11.0,13.0,48.270714,0.12,19,2020-01-04
1465,7,1,14.00,12.0,11.0,13.0,48.971538,0.12,19,2020-01-05
...,...,...,...,...,...,...,...,...,...,...
1528,7,14,14.00,12.0,11.0,13.0,53.685714,0.15,13,2020-03-09
1529,1,14,14.25,12.0,12.5,12.0,56.999286,0.16,22,2020-03-10
1530,2,14,13.00,12.0,13.0,13.0,58.840000,0.12,22,2020-03-11
1531,3,14,15.25,14.0,11.5,12.0,59.466429,0.16,22,2020-03-12
1532,4,14,14.00,12.0,13.0,12.0,56.789286,0.07,22,2020-03-13

In [63]:
meta20_test.to_csv('clean/test20pre.csv', index=False)